<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
  <meta name="viewport" content="initial-scale=1.0">
  <meta name="apple-mobile-web-app-title" content="Hogcam">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">

  <!-- Bootstrap css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="../css/all.css" type="text/css">
  <link rel="stylesheet" href="../css/custom_styles.css" type="text/css">

  <!-- Optional javascript -->
  <!-- jQuery first,  then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="../javascript/script.js" type="text/javascript" rel="script"></script>

  <title>Hogcam | Login</title>
</head>
<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><h2><i class="far fa-camera"></i> Hogcam</h2></a>
</nav>

<div class="p-2 mx-auto" style="max-width: 1024px !important;">

  <div class="card-deck mx-auto my-3">
    <div class="card">
      <div class="card-body">
        <form method="post" action="/authenticate">
          <div class="input-group mb-3">
            <input id="password" name="password" placeholder="Password" type="password" class="form-control">
            <div class="input-group-append">
              <span id="toggle_show_password" class="input-group-text"><i id="eye" class="fas fa-eye"></i></span>
            </div>
          </div>
          <button type="submit" class="w-100 btn btn-large btn-dark">Login</button>
        </form>
      </div>
    </div>
  </div>

</div>

</body>
</html>